knowledge/workflow-variants-templates/TELEGRAM-template.json
{
  "name": "Template TELEGRAM",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -200,
        400
      ],
      "id": "a7e9b1d0-tg00-4000-8000-000000000001",
      "name": "Telegram Trigger",
      "webhookId": "a7e9b1d0-tg00-webhook-telegram",
      "credentials": {
        "telegramApi": {
          "id": "PLACEHOLDER",
          "name": "{{CLIENTE}} - Telegram"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a7e9b1d0-tg00-idms-0001-000000000001",
              "name": "ID",
              "value": "={{ $json.message.chat.id.toString() }}",
              "type": "string"
            },
            {
              "id": "a7e9b1d0-tg00-idms-0002-000000000002",
              "name": "Mensaje",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -40,
        400
      ],
      "id": "a7e9b1d0-tg00-4000-8000-000000000002",
      "name": "ID y Mensaje"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a7e9b1d0-tg00-rein-0001-000000000001",
              "leftValue": "={{ $json.Mensaje }}",
              "rightValue": "REINICIO",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "a7e9b1d0-tg00-rein-0002-000000000002",
              "leftValue": "={{ $json.Mensaje }}",
              "rightValue": "reinicio",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "a7e9b1d0-tg00-rein-0003-000000000003",
              "leftValue": "={{ $json.Mensaje }}",
              "rightValue": "Reinicio",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "a7e9b1d0-tg00-rein-0004-000000000004",
              "leftValue": "={{ $json.Mensaje }}",
              "rightValue": "reiniciar",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "a7e9b1d0-tg00-rein-0005-000000000005",
              "leftValue": "={{ $json.Mensaje }}",
              "rightValue": "Reiniciar",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "a7e9b1d0-tg00-rein-0006-000000000006",
              "leftValue": "={{ $json.Mensaje }}",
              "rightValue": "REINICIAR",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        140,
        400
      ],
      "id": "a7e9b1d0-tg00-4000-8000-000000000003",
      "name": "REINICIAR?"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('ID y Mensaje').first().json.ID }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        340,
        200
      ],
      "id": "a7e9b1d0-tg00-4000-8000-000000000004",
      "name": "Vacia Redis",
      "credentials": {
        "redis": {
          "id": "PLACEHOLDER",
          "name": "{{CLIENTE}} - Redis"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories",
          "mode": "list"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{ $('ID y Mensaje').first().json.ID }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        540,
        200
      ],
      "id": "a7e9b1d0-tg00-4000-8000-000000000005",
      "name": "Delete Postgres historial",
      "credentials": {
        "postgres": {
          "id": "PLACEHOLDER",
          "name": "{{CLIENTE}} - Postgres"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('ID y Mensaje').first().json.ID }}",
        "text": "Conversacion reiniciada. Podemos empezar de nuevo cuando quieras.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        740,
        200
      ],
      "id": "a7e9b1d0-tg00-4000-8000-000000000006",
      "name": "Telegram Send Reinicio",
      "credentials": {
        "telegramApi": {
          "id": "PLACEHOLDER",
          "name": "{{CLIENTE}} - Telegram"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a7e9b1d0-tg00-vars-0001-000000000001",
              "name": "Historial de conversacion",
              "value": "",
              "type": "string"
            },
            {
              "id": "a7e9b1d0-tg00-vars-0002-000000000002",
              "name": "Mensaje actual del usuario",
              "value": "={{ $('ID y Mensaje').first().json.Mensaje }}",
              "type": "string"
            },
            {
              "id": "a7e9b1d0-tg00-vars-0003-000000000003",
              "name": "Telefono",
              "value": "={{ $('ID y Mensaje').first().json.ID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        340,
        560
      ],
      "id": "a7e9b1d0-tg00-4000-8000-000000000007",
      "name": "Variables"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{ $('ID y Mensaje').first().json.ID }}"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        520,
        560
      ],
      "id": "a7e9b1d0-tg00-4000-8000-000000000008",
      "name": "Conversation",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "PLACEHOLDER",
          "name": "{{CLIENTE}} - Postgres"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// n8n Function node\n// Devuelve 1 item con { conversation_text, total_messages, session_id }\n\nfunction getArrayFromAny(items) {\n  const first = items[0]?.json;\n\n  const isArr = (v) => Array.isArray(v);\n  const tryParse = (s) => { try { return JSON.parse(s); } catch { return null; } };\n\n  if (isArr(first)) return first;\n\n  const candidatesObj = [first?.messages, first?.conversation, first?.data];\n  for (const c of candidatesObj) if (isArr(c)) return c;\n\n  const candidatesStr = [first?.raw, first?.raw_json, first?.input, first?.payload, first?.body];\n  for (const c of candidatesStr) {\n    if (typeof c === 'string') {\n      const parsed = tryParse(c);\n      if (isArr(parsed)) return parsed;\n    }\n  }\n\n  const asItems = items.map(it => it.json).filter(x => x && x.message);\n  if (asItems.length) return asItems;\n\n  return [];\n}\n\nconst TARGET_SESSION_ID = null;\nconst PREFIX_USUARIO = 'Usuario';\nconst PREFIX_BOT = 'Bot';\n\nconst items = $input.all();\nlet records = getArrayFromAny(items);\n\nrecords = records\n  .filter(r => r?.message?.type && r?.message?.content != null)\n  .filter(r => !TARGET_SESSION_ID || r.session_id === TARGET_SESSION_ID)\n  .sort((a, b) => (Number(a.id) || 0) - (Number(b.id) || 0));\n\nconst strip = (txt) => {\n  if (typeof txt !== 'string') return '';\n\n  let out = txt;\n\n  const markerRegex = /#\\s*datos recopilados hasta el momento/i;\n  const markerMatch = out.match(markerRegex);\n  if (markerMatch) {\n    out = out.slice(0, markerMatch.index);\n  }\n\n  const hasUserHeader = /#\\s*mensaje del usuario/i.test(out);\n  if (hasUserHeader) {\n    out = out\n      .split('\\n')\n      .filter(line => !line.trim().startsWith('#'))\n      .join('\\n');\n  }\n\n  return out\n    .replace(/^\\s*(Mensasje|Mensaje)\\s*:\\s*/i, '')\n    .replace(/  \\n/g, '\\n')\n    .replace(/[ \\t]+\\n/g, '\\n')\n    .trim();\n};\n\nconst role = (type) => (type === 'human' ? PREFIX_USUARIO : (type === 'ai' ? PREFIX_BOT : String(type)));\n\nconst lines = [];\nfor (const r of records) {\n  const content = strip(r.message.content);\n  if (!content) continue;\n  lines.push(`${role(r.message.type)}: ${content}`);\n}\n\nreturn [{\n  json: {\n    conversation_text: lines.join('\\n'),\n    total_messages: lines.length,\n    session_id: TARGET_SESSION_ID || (records[0]?.session_id ?? null),\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        560
      ],
      "id": "a7e9b1d0-tg00-4000-8000-000000000009",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a7e9b1d0-tg00-unif-0001-000000000001",
              "name": "Historial de conversacion",
              "value": "={{ $json.conversation_text }}",
              "type": "string"
            },
            {
              "id": "a7e9b1d0-tg00-unif-0002-000000000002",
              "name": "Mensaje actual del usuario",
              "value": "={{ $('Variables').first().json['Mensaje actual del usuario'] }}",
              "type": "string"
            },
            {
              "id": "a7e9b1d0-tg00-unif-0003-000000000003",
              "name": "Telefono",
              "value": "={{ $('Variables').first().json.Telefono }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        560
      ],
      "id": "a7e9b1d0-tg00-4000-8000-000000000010",
      "name": "Unificacion de Variables"
    },
    {
      "parameters": {
        "text": "=# Historial de conversacion\n{{ $json['Historial de conversacion'] }}\n\n# Mensaje actual del usuario\n{{ $json['Mensaje actual del usuario'] }}",
        "schemaType": "manual",
        "inputSchema": "{\n  \"destino\": \"{{AGENTE_PRINCIPAL_NOMBRE}}\",\n  \"motivo\": \"descripcion breve\",\n  \"datos_extraidos\": {\n    \"nombre\": null,\n    \"objeciones_count\": 0,\n    \"ultima_objecion\": null,\n    \"fase_conversacion\": \"saludo\"\n  }\n}",
        "options": {
          "systemPromptTemplate": "# CLASIFICADOR DE MENSAJES — {{NOMBRE_EMPRESA}}\n\n## FORMATO DE OUTPUT OBLIGATORIO (LEER PRIMERO)\n\nTu output SIEMPRE debe ser un objeto JSON valido. NUNCA YAML. NUNCA texto. NUNCA markdown. SOLO JSON.\n\nA continuacion la ESTRUCTURA de los campos (listado en YAML solo para visualizacion — devuelve JSON):\n\ndestino: \"{{AGENTE_PRINCIPAL_NOMBRE}}\"\nmotivo: \"descripcion breve\"\ndatos_extraidos:\n  nombre: null\n  (agregar mas campos segun discovery)\n  objeciones_count: 0\n  ultima_objecion: null\n  fase_conversacion: \"saludo\"\n\n### NOMBRES DE CAMPOS — NO NEGOCIABLES\n\nEl campo principal se llama EXACTAMENTE: destino\n\nPROHIBIDO renombrarlo. Variantes PROHIBIDAS:\n❌ agente, agente_asignado, agente_destino, decision, ruta, routing\n\n✅ SOLO: destino\n\n---\n\n## ROL\nSos un clasificador. Analizas historial + mensaje actual para decidir que agente responde.\n\n## AGENTES DISPONIBLES\n- {{AGENTE_PRINCIPAL_NOMBRE}} (default)\n- AGENTE_OBJECIONES\n- HANDOFF_HUMANO\n\n## CRITERIO: PREGUNTA vs OBJECION vs CORRECCION\n\nPREGUNTA → {{AGENTE_PRINCIPAL_NOMBRE}}\nCORRECCION/AFIRMACION → {{AGENTE_PRINCIPAL_NOMBRE}} (aunque empiece con \"no\")\nOBJECION → AGENTE_OBJECIONES (primera vez)\nSEGUNDA OBJECION → HANDOFF_HUMANO\n\n(Completar con ejemplos especificos del cliente al implementar)\n\n## REGLAS DE DECISION\n1. Objecion y objeciones_count == 0 → AGENTE_OBJECIONES\n2. Segunda objecion, pide humano, frustrado → HANDOFF_HUMANO\n3. Todo lo demas → {{AGENTE_PRINCIPAL_NOMBRE}}\n\nJSON puro. Sin markdown. Sin backticks."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        1060,
        560
      ],
      "id": "a7e9b1d0-tg00-4000-8000-000000000011",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "responsesApiEnabled": false,
        "options": {
          "maxTokens": 300,
          "responseFormat": "json_object",
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1140,
        780
      ],
      "id": "a7e9b1d0-tg00-4000-8000-000000000012",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "PLACEHOLDER",
          "name": "{{CLIENTE}} - OpenAI"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.destino }}",
                    "rightValue": "{{AGENTE_PRINCIPAL_NOMBRE}}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a7e9b1d0-tg00-sw-0001-000000000001"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "{{AGENTE_PRINCIPAL_NOMBRE}}"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a7e9b1d0-tg00-sw-0002-000000000002",
                    "leftValue": "={{ $json.output.destino }}",
                    "rightValue": "AGENTE_OBJECIONES",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AGENTE_OBJECIONES"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a7e9b1d0-tg00-sw-0003-000000000003",
                    "leftValue": "={{ $json.output.destino }}",
                    "rightValue": "HANDOFF_HUMANO",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HANDOFF_HUMANO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a7e9b1d0-tg00-sw-0004-000000000004",
                    "leftValue": "={{ $json.output.destino }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BACKUP"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1380,
        560
      ],
      "id": "a7e9b1d0-tg00-4000-8000-000000000013",
      "name": "Switch1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Mensaje del usuario\n{{ $('Variables').first().json['Mensaje actual del usuario'] }}",
        "options": {
          "systemMessage": "# AGENTE PRINCIPAL — {{NOMBRE_EMPRESA}}\n\n## IDENTIDAD\nSos {{BOT_NOMBRE}}, {{BOT_ROL}} de {{NOMBRE_EMPRESA}}.\n\nFecha actual: 2026-04-17\n\n## OBJETIVO\n{{OBJETIVO_PRINCIPAL}}\n\n## INFORMACION DEL NEGOCIO\n{{INFO_NEGOCIO}}\n\n## FLUJO CONVERSACIONAL\n(Adaptar segun discovery del cliente)\n\n## REGLAS CRITICAS\n1. Max 3-4 lineas por mensaje\n2. UNA pregunta por mensaje\n3. Puntuacion informal (sin :, sin ;, sin ¿)\n4. Cierre en 2 pasos (proponer → esperar confirmacion → enviar link)\n5. Variar mensajes repetidos\n6. No prometer material que no existe\n\n## CIERRE EN 2 PASOS\nPASO 5A: Proponer (sin link)\nPASO 5B: Enviar link (solo tras confirmacion afirmativa)\n\n(Completar con detalles del cliente)"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1620,
        340
      ],
      "id": "a7e9b1d0-tg00-4000-8000-000000000014",
      "name": "AI Agent - Principal"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "maxTokens": 400,
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1560,
        560
      ],
      "id": "a7e9b1d0-tg00-4000-8000-000000000015",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "PLACEHOLDER",
          "name": "{{CLIENTE}} - OpenAI"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Variables').first().json.Telefono }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1700,
        560
      ],
      "id": "a7e9b1d0-tg00-4000-8000-000000000016",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "PLACEHOLDER",
          "name": "{{CLIENTE}} - Postgres"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Mensaje del usuario\n{{ $('Variables').first().json['Mensaje actual del usuario'] }}",
        "options": {
          "systemMessage": "# AGENTE OBJECIONES — {{NOMBRE_EMPRESA}}\n\nSeguis siendo {{BOT_NOMBRE}}. Manejas UNA objecion con framework LAARC.\n\n## LAARC\nL - Listen: mostrar que escuchaste\nA - Acknowledge: validar la preocupacion\nA - Assess: preguntar causa raiz\nR - Respond: estrategia segun tipo\nC - Confirm: verificar que quedo resuelto\n\nTodo en UN mensaje fluido, max 4 lineas.\n\n## OBJECIONES COMUNES\n- Precio/caro\n- Timing/no es momento\n- Miedo/desconfianza\n\n## REGLAS\n1. NUNCA coordinar fecha/hora directamente — usar link\n2. NUNCA ofrecer descuento\n3. NUNCA defender agresivamente\n4. SIEMPRE terminar con pregunta de confirmacion\n\n(Completar con objeciones especificas del cliente)"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1620,
        720
      ],
      "id": "a7e9b1d0-tg00-4000-8000-000000000018",
      "name": "AI Agent - Objeciones"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "maxTokens": 400,
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1560,
        940
      ],
      "id": "a7e9b1d0-tg00-4000-8000-000000000019",
      "name": "OpenAI Chat Model - Objeciones",
      "credentials": {
        "openAiApi": {
          "id": "PLACEHOLDER",
          "name": "{{CLIENTE}} - OpenAI"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Variables').first().json.Telefono }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1700,
        940
      ],
      "id": "a7e9b1d0-tg00-4000-8000-000000000020",
      "name": "Postgres Chat Memory - Objeciones",
      "credentials": {
        "postgres": {
          "id": "PLACEHOLDER",
          "name": "{{CLIENTE}} - Postgres"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('ID y Mensaje').first().json.ID }}",
        "text": "Gracias por tu mensaje. Voy a pasarte con un miembro del equipo para que te ayude directamente.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1620,
        1100
      ],
      "id": "a7e9b1d0-tg00-4000-8000-000000000022",
      "name": "Telegram Send Handoff",
      "credentials": {
        "telegramApi": {
          "id": "PLACEHOLDER",
          "name": "{{CLIENTE}} - Telegram"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Respuesta a formatear: {{ $json.output }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=# PROMPT: FORMATEADOR DE MENSAJES PARA WHATSAPP\n\n## ROL\nFormateador de mensajes para WhatsApp. Tu ÚNICA función es dividir mensajes largos en bloques de máximo 3 líneas Y separar listas que vengan pegadas.\n\n## CONTEXTO\nLos mensajes de WhatsApp deben ser cortos y escaneables. Mensajes muy largos son difíciles de leer en mobile y generan abandono.\n\n## INPUT\nRecibes un mensaje de texto que puede tener múltiples líneas y párrafos, incluyendo listas con bullets.\n\n## OUTPUT OBLIGATORIO\nJSON válido con mensajes divididos:\n\n```json\n{\n  \"MENSAJE 1\": \"Texto del primer mensaje (máximo 3 líneas)\",\n  \"MENSAJE 2\": \"Texto del segundo mensaje (máximo 3 líneas)\",\n  \"MENSAJE 3\": \"Texto del tercer mensaje (máximo 3 líneas)\"\n}\n```\n\n## REGLAS DE DIVISIÓN\n\n### 1. MÁXIMO 3 LÍNEAS POR MENSAJE\nCada mensaje puede tener máximo 3 líneas de texto (separadas por `\\n`).\n\n### 2. RESPETAR PÁRRAFOS EXISTENTES\nSi el mensaje original tiene párrafos separados por `\\n\\n` (doble salto), cada párrafo debe ir en un mensaje separado.\n\n### 3. AGRUPAR LÍNEAS RELACIONADAS\nSi un párrafo tiene más de 3 líneas, divídelo en mensajes de máximo 3 líneas, pero mantén ideas relacionadas juntas.\n\n### 4. MANTENER CONTEXTO\nNo dividir en medio de una idea. Cada mensaje debe tener sentido por sí solo.\n\n### 5. PREGUNTAS SIEMPRE EN MENSAJE SEPARADO\nSi el mensaje termina con una pregunta, la pregunta debe ir en su propio mensaje.\n\n## CASOS ESPECIALES\n\n### Mensaje ya es corto (≤3 líneas)\nSi el mensaje ya tiene 3 líneas o menos, NO dividir:\n\n```json\n{\n  \"MENSAJE 1\": \"Texto completo del mensaje original\"\n}\n```\n\n## FORMATO DE SALIDA\n\nTu respuesta COMPLETA debe ser ÚNICAMENTE el JSON:\n\n```json\n{\n  \"MENSAJE 1\": \"texto aquí\",\n  \"MENSAJE 2\": \"texto aquí\"\n}\n```\n\n- NO agregues explicaciones\n- NO uses markdown adicional\n- NO incluyas texto fuera del JSON\n- SOLO el JSON válido\n\n## PROHIBICIONES\n\n❌ NO dividir palabras o frases en medio\n❌ NO crear mensajes de una sola palabra\n❌ NO separar números de su contexto\n❌ NO modificar el contenido del mensaje (solo dividir)\n\n## PRIORIDADES EN ORDEN\n\n1. **Mantener sentido** (cada mensaje se entiende)\n2. **Máximo 3 líneas** por mensaje\n3. **Preguntas separadas** al final\n4. **Respetar párrafos** existentes\n5. **Agrupar ideas** relacionadas"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1880,
        240
      ],
      "id": "d9ba402a-db0c-4971-97be-ea5b9645f963",
      "name": "Basic LLM Chain4",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1840,
        440
      ],
      "id": "b894a218-bdfe-4265-aa20-9389450a0ad8",
      "name": "OpenAI Chat Model13",
      "notesInFlow": false,
      "credentials": {
        "openAiApi": {
          "id": "PLACEHOLDER",
          "name": "{{CLIENTE}} - OpenAI"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "prompt": "=Instructions:\n--------------\n{instructions}\n--------------\nCompletion:\n--------------\n{completion}\n--------------\n\nAbove, the Completion did not satisfy the constraints given in the Instructions.\nError:\n--------------\n{error}\n--------------\n\nPlease try again. Please only respond with an answer that satisfies the constraints laid out in the Instructions:"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        1980,
        440
      ],
      "id": "b58abb79-10e2-4f5b-bf58-1194d6ebba02",
      "name": "Auto-fixing Output Parser3"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"output\": \n{\n\"MENSAJE 1\": \n\"Entiendo.\",\n  \"MENSAJE 2\": \n\"Entiendo.\"\n}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        2120,
        580
      ],
      "id": "ca4e3bdd-91f9-446a-9ea9-9e305882eb5a",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1980,
        580
      ],
      "id": "85ca4b58-ddbf-4e29-b072-14c6bfdc6759",
      "name": "OpenAI Chat Model14",
      "credentials": {
        "openAiApi": {
          "id": "PLACEHOLDER",
          "name": "{{CLIENTE}} - OpenAI"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2140,
        240
      ],
      "id": "3e5c03ab-f849-4f71-971e-feabfe19d80c",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2400,
        240
      ],
      "id": "267f2196-4877-4fa2-91a0-e16e0d0986d8",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e97607d2-b7b9-48cb-b059-fc5030dcaf56",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2660,
        240
      ],
      "id": "2b9f172f-eb80-4286-bc78-b6938421fca4",
      "name": "If5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2920,
        380
      ],
      "id": "4ab81d24-4501-4f0b-a2be-6d7934f76ebe",
      "name": "Wait2",
      "webhookId": "c1d2e3f4-0001-4000-8000-000000000001"
    },
    {
      "parameters": {
        "chatId": "={{ $('ID y Mensaje').first().json.ID }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2920,
        240
      ],
      "id": "7a838101-3242-4359-bd94-153c9522ad05",
      "name": "Telegram Send Chunk",
      "credentials": {
        "telegramApi": {
          "id": "PLACEHOLDER",
          "name": "{{CLIENTE}} - Telegram"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "ID y Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID y Mensaje": {
      "main": [
        [
          {
            "node": "REINICIAR?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REINICIAR?": {
      "main": [
        [
          {
            "node": "Vacia Redis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vacia Redis": {
      "main": [
        [
          {
            "node": "Delete Postgres historial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Postgres historial": {
      "main": [
        [
          {
            "node": "Telegram Send Reinicio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables": {
      "main": [
        [
          {
            "node": "Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversation": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Unificacion de Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unificacion de Variables": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "AI Agent - Principal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent - Objeciones",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Send Handoff",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent - Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Principal",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Principal",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Principal": {
      "main": [
        [
          {
            "node": "Basic LLM Chain4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model - Objeciones": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Objeciones",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory - Objeciones": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Objeciones",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Objeciones": {
      "main": [
        [
          {
            "node": "Basic LLM Chain4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain4": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Telegram Send Chunk",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Send Chunk": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model13": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain4",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser3",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model14": {
      "ai_languageModel": [
        [
          {
            "node": "Auto-fixing Output Parser3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a7e9b1d0-template-telegram-v1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "PLACEHOLDER_INSTANCE_ID"
  },
  "id": "PLACEHOLDER_WORKFLOW_ID",
  "tags": []
}
