clients/level-kenneth/workflow/chatbot-level-leo.json
{
  "name": "Chatbot Level - LEO",
  "nodes": [
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('ID y Mensaje').item.json.ID }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2240,
        1104
      ],
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Vacía el Array5",
      "credentials": {
        "redis": {
          "id": "PLACEHOLDER",
          "name": "Level - Redis"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{ $('ID y Mensaje').item.json.ID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2464,
        1104
      ],
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Delete table or rows1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "PLACEHOLDER",
          "name": "Level - Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a9478d64-a1d4-448e-b423-c76116e712c6",
              "leftValue": "={{ $json.Mensaje }}",
              "rightValue": "REINICIO",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "5726aa13-bdc1-4e1a-9bfd-7c33d1b894f6",
              "leftValue": "={{ $json.Mensaje }}",
              "rightValue": "reinicio",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "0f698bd6-3edf-4445-961b-00034ba43981",
              "leftValue": "={{ $json.Mensaje }}",
              "rightValue": "Reinicio",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "c98836e8-15f9-4344-a9d8-ba7697b4bd93",
              "leftValue": "={{ $json.Mensaje }}",
              "rightValue": "reiniciar",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "70cd771f-5618-41d8-bf5c-cd104e175e0a",
              "leftValue": "={{ $json.Mensaje }}",
              "rightValue": "Reiniciar",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "80a609be-3902-41fb-8bcb-799bf501b57b",
              "leftValue": "={{ $json.Mensaje }}",
              "rightValue": "REINICIAR",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2016,
        1328
      ],
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "REINICIAR"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5dc396d1-45df-44ba-abe1-a4e02105fefc",
              "leftValue": "={{ $json[\"Estado Chatbot\"] }}",
              "rightValue": "Apagado",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3248,
        1296
      ],
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "IN OFF?1"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "PLACEHOLDER_BASE_ID",
          "mode": "list",
          "cachedResultName": "Level CRM"
        },
        "table": {
          "__rl": true,
          "value": "PLACEHOLDER_TABLE_ID",
          "mode": "list",
          "cachedResultName": "Leads"
        },
        "filterByFormula": "={ID Manychat} = \"{{ $json.ID }}\"",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2240,
        1424
      ],
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Buscar Lead",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "PLACEHOLDER",
          "name": "Level - Airtable"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "PLACEHOLDER_BASE_ID",
          "mode": "list",
          "cachedResultName": "Level CRM"
        },
        "table": {
          "__rl": true,
          "value": "PLACEHOLDER_TABLE_ID",
          "mode": "list",
          "cachedResultName": "Leads"
        },
        "id": "={{ $json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3696,
        1424
      ],
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "GET Lead",
      "credentials": {
        "airtableTokenApi": {
          "id": "PLACEHOLDER",
          "name": "Level - Airtable"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "PLACEHOLDER_BASE_ID",
          "mode": "list",
          "cachedResultName": "Level CRM"
        },
        "table": {
          "__rl": true,
          "value": "PLACEHOLDER_TABLE_ID",
          "mode": "list",
          "cachedResultName": "Leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Último contacto": "={{ $now }}",
            "Chatbot Activado": "Encendido"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Chatbot Activado",
              "displayName": "Chatbot Activado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Encendido",
                  "value": "Encendido"
                },
                {
                  "name": "Apagado",
                  "value": "Apagado"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Último contacto",
              "displayName": "Último contacto",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3472,
        1296
      ],
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "Update Timestamp",
      "credentials": {
        "airtableTokenApi": {
          "id": "PLACEHOLDER",
          "name": "Level - Airtable"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cf69fa4e-c7f0-47b0-87f4-ff006f2a1ba3",
              "leftValue": "={{ $json['ID Manychat'] }}",
              "rightValue": "={{ $('ID y Mensaje').item.json['ID'] }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2672,
        1424
      ],
      "id": "a1b2c3d4-0008-4000-8000-000000000008",
      "name": "Existe?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5040,
        1520
      ],
      "id": "a1b2c3d4-0009-4000-8000-000000000009",
      "name": "No Operation, do nothing3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0978707a-e529-48d6-a512-6013d30542f6",
              "leftValue": "=text",
              "rightValue": "audio",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3920,
        1424
      ],
      "id": "a1b2c3d4-000a-4000-8000-000000000010",
      "name": "Es audio?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "82b413da-d083-447a-a77c-582093501d53",
              "leftValue": "={{ $json.propertyName.last() }}",
              "rightValue": "={{ $('ID y Mensaje').item.json.Mensaje }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4816,
        1424
      ],
      "id": "a1b2c3d4-000b-4000-8000-000000000011",
      "name": "Es el último mensaje?"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('ID y Mensaje').item.json['ID'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4592,
        1424
      ],
      "id": "a1b2c3d4-000c-4000-8000-000000000012",
      "name": "Revisar todos los mensajes",
      "credentials": {
        "redis": {
          "id": "PLACEHOLDER",
          "name": "Level - Redis"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4368,
        1424
      ],
      "id": "a1b2c3d4-000d-4000-8000-000000000013",
      "name": "Esperando nuevo mensaje",
      "webhookId": "b1c2d3e4-0001-4000-8000-000000000001"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('ID y Mensaje').item.json.ID }}",
        "messageData": "={{ $('ID y Mensaje').item.json.Mensaje || \"\" }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4144,
        1424
      ],
      "id": "a1b2c3d4-000e-4000-8000-000000000014",
      "name": "Guardar mensajes",
      "credentials": {
        "redis": {
          "id": "PLACEHOLDER",
          "name": "Level - Redis"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "33215691-a20a-4c63-8b57-82b6d6320291",
              "name": "Mensajes",
              "value": "={{ $json.propertyName.join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5040,
        1328
      ],
      "id": "a1b2c3d4-000f-4000-8000-000000000015",
      "name": "Juntar mensajes"
    },
    {
      "parameters": {
        "jsCode": "// n8n Function node\n// Devuelve 1 item con { conversation_text, total_messages, session_id }\n\nfunction getArrayFromAny(items) {\n  // Caso: un solo item con el array en root o en alguna clave\n  const first = items[0]?.json;\n\n  const isArr = (v) => Array.isArray(v);\n  const tryParse = (s) => { try { return JSON.parse(s); } catch { return null; } };\n\n  // 1) Array directo en el root del json\n  if (isArr(first)) return first;\n\n  // 2) Array en claves comunes\n  const candidatesObj = [first?.messages, first?.conversation, first?.data];\n  for (const c of candidatesObj) if (isArr(c)) return c;\n\n  // 3) Array como string JSON en claves comunes\n  const candidatesStr = [first?.raw, first?.raw_json, first?.input, first?.payload, first?.body];\n  for (const c of candidatesStr) {\n    if (typeof c === 'string') {\n      const parsed = tryParse(c);\n      if (isArr(parsed)) return parsed;\n    }\n  }\n\n  // 4) Si nada de lo anterior: asume que cada item ES un registro de mensaje\n  const asItems = items.map(it => it.json).filter(x => x && x.message);\n  if (asItems.length) return asItems;\n\n  // 5) fallback vacío\n  return [];\n}\n\n// ---------- CONFIG OPCIONAL ----------\nconst TARGET_SESSION_ID = null; // e.g., \"7764470220\" para filtrar; déjalo en null para no filtrar\nconst PREFIX_USUARIO = 'Usuario';\nconst PREFIX_BOT = 'Bot';\n// -------------------------------------\n\nconst items = $input.all();\nlet records = getArrayFromAny(items);\n\n// Filtra y ordena\nrecords = records\n  .filter(r => r?.message?.type && r?.message?.content != null)\n  .filter(r => !TARGET_SESSION_ID || r.session_id === TARGET_SESSION_ID)\n  .sort((a, b) => (Number(a.id) || 0) - (Number(b.id) || 0));\n\n// --- Limpieza de contenido personalizada ---\nconst strip = (txt) => {\n  if (typeof txt !== 'string') return '';\n\n  let out = txt;\n\n  // 1) Cortar todo lo que venga desde \"# Datos recopilados hasta el momento\"\n  //    (ignorando mayúsculas/minúsculas y espacios)\n  const markerRegex = /#\\s*datos recopilados hasta el momento/i;\n  const markerMatch = out.match(markerRegex);\n  if (markerMatch) {\n    out = out.slice(0, markerMatch.index);\n  }\n\n  // 2) Si trae el encabezado \"# Mensaje del usuario\", quitamos las líneas que empiezan con \"#\"\n  const hasUserHeader = /#\\s*mensaje del usuario/i.test(out);\n  if (hasUserHeader) {\n    out = out\n      .split('\\n')\n      .filter(line => !line.trim().startsWith('#'))\n      .join('\\n');\n  }\n\n  // 3) Limpieza general\n  return out\n    .replace(/^\\s*(Mensasje|Mensaje)\\s*:\\s*/i, '') // por si algún día viene así\n    .replace(/  \\n/g, '\\n')\n    .replace(/[ \\t]+\\n/g, '\\n')\n    .trim();\n};\n\nconst role = (type) => (type === 'human' ? PREFIX_USUARIO : (type === 'ai' ? PREFIX_BOT : String(type)));\n\nconst lines = [];\nfor (const r of records) {\n  const content = strip(r.message.content);\n  if (!content) continue;\n  lines.push(`${role(r.message.type)}: ${content}`);\n}\n\nreturn [{\n  json: {\n    conversation_text: lines.join('\\n'),\n    total_messages: lines.length,\n    session_id: TARGET_SESSION_ID || (records[0]?.session_id ?? null),\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5488,
        1328
      ],
      "id": "a1b2c3d4-0010-4000-8000-000000000016",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4fa108f2-4f60-4b5c-9d2c-77ed49bd61c6",
              "name": "Historial de conversación",
              "value": "={{ $json.conversation_text }}",
              "type": "string"
            },
            {
              "id": "7b9c90c1-9778-42ef-8e59-415820a4d54d",
              "name": "Mensaje actual del usuario",
              "value": "={{ $items(\"Juntar mensajes\")[0].json[\"Mensajes\"] }}",
              "type": "string"
            },
            {
              "id": "a1c830bc-1de8-4725-a836-b0bef14cac74",
              "name": "Telefono",
              "value": "={{ $items(\"ID y Mensaje\")[0].json[\"ID\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5712,
        1328
      ],
      "id": "a1b2c3d4-0011-4000-8000-000000000017",
      "name": "Unificación de Variables"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{ $('ID y Mensaje').item.json.ID}}"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5264,
        1328
      ],
      "id": "a1b2c3d4-0012-4000-8000-000000000018",
      "name": "Conversation",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "PLACEHOLDER",
          "name": "Level - Postgres"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "929d394a-af42-4057-9b39-a23512a333b2",
              "name": "ID",
              "value": "={{ $json.ID }}",
              "type": "string"
            },
            {
              "id": "f8e1256c-edf4-4802-b029-bba582198523",
              "name": "=Mensaje",
              "value": "={{ $json.Mensaje }}",
              "type": "string"
            },
            {
              "id": "f4e0a946-7b00-4926-81d2-ca627ebba00b",
              "name": "flag",
              "value": "=",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1792,
        1328
      ],
      "id": "a1b2c3d4-0013-4000-8000-000000000019",
      "name": "ID y Mensaje"
    },
    {
      "parameters": {
        "operation": "deleteRecord",
        "base": {
          "__rl": true,
          "value": "PLACEHOLDER_BASE_ID",
          "mode": "list",
          "cachedResultName": "Level CRM"
        },
        "table": {
          "__rl": true,
          "value": "PLACEHOLDER_TABLE_ID",
          "mode": "list",
          "cachedResultName": "Leads"
        },
        "id": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3040,
        1104
      ],
      "id": "a1b2c3d4-0014-4000-8000-000000000020",
      "name": "Delete a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "PLACEHOLDER",
          "name": "Level - Airtable"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "PLACEHOLDER_BASE_ID",
          "mode": "list",
          "cachedResultName": "Level CRM"
        },
        "table": {
          "__rl": true,
          "value": "PLACEHOLDER_TABLE_ID",
          "mode": "list",
          "cachedResultName": "Leads"
        },
        "filterByFormula": "={ID Manychat} = '{{ $('ID y Mensaje').item.json.ID }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2752,
        1104
      ],
      "id": "a1b2c3d4-0015-4000-8000-000000000021",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "PLACEHOLDER",
          "name": "Level - Airtable"
        }
      }
    },
    {
      "parameters": {
        "text": "=# Historial de conversacion\n{{ $json['Historial de conversación'] }}\n\n# Mensaje actual del usuario\n{{ $json[\"Mensaje actual del usuario\"] }}",
        "schemaType": "manual",
        "inputSchema": "{\n  \"agente_destino\": \"LEO_PRINCIPAL\",\n  \"motivo\": \"descripcion breve\",\n  \"datos_extraidos\": {\n    \"nombre\": null,\n    \"objetivo_financiero\": null,\n    \"capital_mencionado\": null,\n    \"capital_calificado\": false,\n    \"tipo_inversion_interes\": null,\n    \"nivel_conocimiento\": null,\n    \"fase_conversacion\": \"saludo\",\n    \"objeciones_count\": 0,\n    \"ultima_objecion\": null,\n    \"calendly_enviado\": false\n  }\n}",
        "options": {
          "systemPromptTemplate": "=# CLASIFICADOR DE MENSAJES — LEVEL\n\n## ROL\nSos un clasificador de conversaciones. Analizas el historial completo y el mensaje actual para determinar que agente debe responder. No conversas con el usuario, solo clasificas y extraes datos.\n\n## AGENTES DISPONIBLES\n\n### LEO_PRINCIPAL\nAgente principal. Maneja todo el flujo: bienvenida, discovery financiero, educacion, calificacion y cierre.\nActivar cuando: no aplica ninguna condicion de los otros agentes.\n\n### AGENTE_OBJECIONES\nEspecialista en objeciones. Solo se activa en la PRIMERA objecion.\nActivar cuando:\n- El usuario expresa resistencia, duda o rechazo sobre: precio del servicio, miedo a perder dinero, quiere pensarlo, desconfianza en inversiones\n- Y en el historial NO hay objeciones previas ya manejadas\n\n### HANDOFF_HUMANO\nEscala al equipo humano (Ken o Valeria).\nActivar cuando:\n- Usuario pide hablar con humano o con Kenneth directamente\n- Consulta legal o regulatoria sobre inversiones\n- Situacion fiscal compleja que requiere asesor real\n- Segunda objecion o mas (ya hubo una manejada)\n- Usuario frustrado o agresivo (tono hostil sostenido)\n- Inversion mayor a $100,000 USD (caso VIP)\n- 3+ mensajes fuera de contexto sin avance\n\n## CAMPOS A EXTRAER\n\nActualizar en cada turno con la informacion disponible:\n- nombre: nombre del lead\n- objetivo_financiero: que busca (ingresos pasivos, crecimiento, jubilacion, educacion, proteccion)\n- capital_mencionado: monto que menciono (en colones o dolares)\n- capital_calificado: true si capital >= CRC 5M o USD $10K\n- tipo_inversion_interes: que tipo le interesa (bolsa, propiedades, bitcoin, renta fija, todo)\n- nivel_conocimiento: principiante, intermedio o avanzado\n- fase_conversacion: saludo, discovery, educacion, calificacion, cierre\n- objeciones_count: cuantas objeciones ha habido en toda la conversacion\n- ultima_objecion: texto breve de la ultima objecion\n- calendly_enviado: true si ya se envio el link de Calendly\n\n## REGLAS\n1. Default SIEMPRE es LEO_PRINCIPAL — ante duda, no escalar\n2. HANDOFF solo para lo que el bot NO puede resolver\n3. Objecion + ya hubo objecion previa = HANDOFF (no segundo intento)\n4. Extraer datos SOLO cuando estan explicitos, no inferir\n5. JSON puro, sin texto adicional, sin markdown, sin backticks"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        5936,
        1328
      ],
      "id": "a1b2c3d4-0016-4000-8000-000000000022",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "responsesApiEnabled": false,
        "options": {
          "maxTokens": 300,
          "responseFormat": "json_object",
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        6016,
        1552
      ],
      "id": "a1b2c3d4-0017-4000-8000-000000000023",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "PLACEHOLDER",
          "name": "Level - OpenAI"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "mimeType": "={{ $json.mimetype }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1120,
        1232
      ],
      "id": "a1b2c3d4-0018-4000-8000-000000000024",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=PLACEHOLDER_EVOLUTION_API_URL",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=PLACEHOLDER_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"message\": {\n        \"key\": {\n            \"id\": \"{{ $('Webhook').item.json.body.data.key.id }}\"\n        }\n    },\n    \"convertToMp4\": false\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        1232
      ],
      "id": "a1b2c3d4-0019-4000-8000-000000000025",
      "name": "Evo API Optener audio"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1344,
        1232
      ],
      "id": "a1b2c3d4-001a-4000-8000-000000000026",
      "name": "Transcribir audio",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "PLACEHOLDER",
          "name": "Level - OpenAI"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "525bed92-1da8-4aa0-b46f-329caf22de22",
              "name": "ID",
              "value": "={{ $('Es Audio?').item.json.ID }}",
              "type": "string"
            },
            {
              "id": "35fc5891-afef-40c6-beed-19d9ea2c9527",
              "name": "Mensaje",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        1232
      ],
      "id": "a1b2c3d4-001b-4000-8000-000000000027",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "88d88aac-3bff-422a-9bf9-ae92d61fc08a",
              "name": "ID",
              "value": "={{ $('Webhook').item.json.body.id }}",
              "type": "string"
            },
            {
              "id": "1db58aef-4721-41a8-9f74-8c57a8d5c050",
              "name": "Mensaje",
              "value": "={{ $('Webhook').item.json.body.last_input_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        1424
      ],
      "id": "a1b2c3d4-001c-4000-8000-000000000028",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0d497d8a-7467-4f79-b5dd-889137c0696a",
              "leftValue": "={{ $('Webhook').item.json.body.data.message.audioMessage }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        672,
        1328
      ],
      "id": "a1b2c3d4-001d-4000-8000-000000000029",
      "name": "Es Audio?"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "PLACEHOLDER_BASE_ID",
          "mode": "list",
          "cachedResultName": "Level CRM"
        },
        "table": {
          "__rl": true,
          "value": "PLACEHOLDER_TABLE_ONOFF_ID",
          "mode": "list",
          "cachedResultName": "Chatbot ON/OFF"
        },
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        224,
        1328
      ],
      "id": "a1b2c3d4-001e-4000-8000-000000000030",
      "name": "Search records1",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "airtableTokenApi": {
          "id": "PLACEHOLDER",
          "name": "Level - Airtable"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cb6346f9-d544-4015-bc70-441d723de92b",
              "leftValue": "={{ $json['Estado'] }}",
              "rightValue": "ON",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        1328
      ],
      "id": "a1b2c3d4-001f-4000-8000-000000000031",
      "name": "Chatbot Encendido?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/setCustomField",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{ $('ID y Mensaje').item.json.ID }}"
            },
            {
              "name": "field_id",
              "value": "PLACEHOLDER_FIELD_ID"
            },
            {
              "name": "field_value",
              "value": "=Conversación Reiniciada"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3264,
        1104
      ],
      "id": "a1b2c3d4-0020-4000-8000-000000000032",
      "name": "Set Campo Resupuesta Reinicio",
      "credentials": {
        "httpBearerAuth": {
          "id": "PLACEHOLDER",
          "name": "Level - ManyChat"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendFlow",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{ $('ID y Mensaje').item.json.ID }}"
            },
            {
              "name": "flow_ns",
              "value": "=PLACEHOLDER_FLOW_NS"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3488,
        1104
      ],
      "id": "a1b2c3d4-0021-4000-8000-000000000033",
      "name": "Send Respuesta Reinicio",
      "credentials": {
        "httpBearerAuth": {
          "id": "PLACEHOLDER",
          "name": "Level - ManyChat"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.agente_destino }}",
                    "rightValue": "LEO_PRINCIPAL",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "fef4c00f-6d3b-4137-b1d2-22962cfcc3d6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "LEO_PRINCIPAL"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f2c09e21-2566-4ab8-a4db-235e874e2889",
                    "leftValue": "={{ $json.output.agente_destino }}",
                    "rightValue": "AGENTE_OBJECIONES",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AGENTE_OBJECIONES"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b3a1c2d3-0001-4000-8000-000000000001",
                    "leftValue": "={{ $json.output.agente_destino }}",
                    "rightValue": "HANDOFF_HUMANO",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HANDOFF_HUMANO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "97847c7e-64ab-4bb0-9e61-1ab09ad3241f",
                    "leftValue": "={{ $json.output.agente_destino }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BACKUP"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        6288,
        1312
      ],
      "id": "a1b2c3d4-0022-4000-8000-000000000034",
      "name": "Switch1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Unificación de Variables').item.json.Telefono }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        6640,
        1136
      ],
      "id": "a1b2c3d4-0023-4000-8000-000000000035",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "PLACEHOLDER",
          "name": "Level - Postgres"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Mensaje del usuario\n{{ $('Unificación de Variables').item.json['Mensaje actual del usuario'] }}",
        "options": {
          "systemMessage": "=# AGENTE PRINCIPAL — LEO (Level)\n\n## DEBES RESPONDER EN: {{ $json.output.datos_extraidos.idioma_detectado || \"es\" }}\n\n## IDENTIDAD\n\nSos LEO, asesor financiero de Level. Hablás como un profesional cercano que genuinamente quiere ayudar, no como un vendedor. Tu enfoque es como el de un doctor: preguntas para diagnosticar, no para vender.\n\nFecha actual: {{ $now.format('yyyy-MM-dd') }}\n\n## PERSONALIDAD\n- Semi-formal costarricense: \"vos\", \"tenes\", \"podes\"\n- Claro y directo — terminos financieros siempre explicados simple\n- Empatico — entendes que la gente tiene miedo con su dinero\n- Seguro — sabes de lo que hablas (260+ inversionistas activos)\n- NUNCA presionas — educas y guias\n\n## OBJETIVO\nCalificar leads entendiendo su situacion financiera, educarlos sobre inversiones, y llevarlos a agendar una asesoria gratuita con Kenneth Varela (asesor principal de Level).\n\n## INFORMACION CRITICA\n- Level: asesoria financiera personalizada + acceso a inversiones nacionales e internacionales\n- Servicio: CRC 250,000 (regular) / CRC 200,000 (promo) — incluye 3 sesiones + material + IA + acompanamiento\n- Capital minimo para invertir: CRC 5M\n- Calendly: https://calendly.com/kenvarela/asesoria\n- Web: levelcr.com / kenvarela.com\n- 260+ inversionistas activos con $5M+ asesorados\n- Herramienta de IA \"Sam\" para diagnostico financiero\n\n## FLUJO CONVERSACIONAL\n\n### FASE 1: BIENVENIDA (Mensajes 1-2)\n\"Hola! Soy LEO, asesor financiero de Level.\nCon quien tengo el gusto?\"\n\nDespues del nombre:\n\"Mucho gusto, {nombre}. Contame, que te motivo a escribirnos?\"\n\n### FASE 2: DISCOVERY (Mensajes 3-6)\nEntender la situacion del lead como un doctor. Preguntar UNA cosa a la vez:\n\n1. Objetivo: \"Que tipo de inversion te interesa? Es de aporte mensual, tenes un capital y querias recibir ingresos pasivos, o queres crecer ese capital para un objetivo?\"\n2. Situacion actual: \"Y actualmente, como manejas tus finanzas? Tenes algo invertido o esto seria tu primera inversion?\"\n3. Capital: NO preguntar directo \"cuanto tenes\". Inferir del contexto. Si no queda claro: \"Para darte opciones que realmente calcen, me ayudaria saber con que rango de capital estarias pensando arrancar\"\n4. Timeline: \"Para cuando te gustaria tener esto funcionando?\"\n\nADAPTARSE al lead:\n- Si dice \"quiero ingresos pasivos\" → profundizar en eso\n- Si dice \"quiero jubilacion\" → hablar de planificacion a largo plazo\n- Si dice \"recibi una herencia/liquidacion\" → entender urgencia y monto\n- Si dice \"quiero aprender\" → enfoque educativo primero\n\n### FASE 3: EDUCACION (Mensajes 7-9)\nBasado en lo que dijo, educar con valor:\n\nSi busca SEGURIDAD:\n\"La seguridad del capital es lo mas importante para nosotros. Todos nuestros productos cuentan con proteccion y garantias. La clave es encontrar el instrumento que se ajuste a tu perfil.\"\n\nSi busca CRECIMIENTO:\n\"Historicamente, la bolsa de valores de USA (S&P 500) ha retornado un promedio del 10% anual. Eso significa que tu capital puede duplicarse cada 7 anos aproximadamente.\"\n\nSi busca INGRESOS PASIVOS:\n\"Hay opciones de renta fija que te generan un ingreso mensual constante. Es como tener un inquilino pero sin los dolores de cabeza de una propiedad.\"\n\nSi busca JUBILACION:\n\"Muchos de nuestros clientes acuden exactamente por esta razon. Crear una jubilacion personal es de las mejores decisiones financieras que podes tomar.\"\n\nSIEMPRE cerrar la educacion con: \"Parte del servicio de Level es garantizarte un plan personalizado para tu situacion.\"\n\n### FASE 4: CALIFICACION\n\nSi capital >= CRC 5M (o equivalente USD):\n→ Lead calificado. Pasar a cierre.\n\nSi capital < CRC 5M:\n\"Para montos menores a 5 millones, te recomiendo arrancar con nuestra comunidad educativa donde podes ir aprendiendo mientras ahorrás para tu primera inversion.\nTe dejo el link: https://www.skool.com/protocolo-silencio-mental-6606/about\"\n\nSi no menciona capital:\n→ Seguir educando, no presionar.\n\n### FASE 5: CIERRE\n\nLead calificado + interesado:\n\"Perfecto, {nombre}. Lo que te recomiendo es que agendemos una sesion gratuita con Kenneth Varela, nuestro asesor principal. En 15-30 minutos el analiza tu situacion y te presenta las mejores opciones para tu caso.\nAqui podes agendar: https://calendly.com/kenvarela/asesoria\"\n\nLead tibio:\n\"Si queres, podemos agendar una llamada gratuita de 15 minutos. Sin compromiso, solo para explorar si Level es lo que necesitas.\nhttps://calendly.com/kenvarela/asesoria\"\n\nLead frio pero interesado:\n\"Te dejo un video corto donde Kenneth explica como funciona el proceso. Cuando lo veas, me contas que te parecio.\"\n\n## PREGUNTAS FRECUENTES\n\n\"Donde se invierte mi dinero?\"\n→ \"Depende de tu perfil. Tenemos opciones nacionales e internacionales, renta fija y variable. En la asesoria Kenneth te explica exactamente que opciones calzan para vos.\"\n\n\"Cuanto puedo ganar?\"\n→ \"Varia segun el producto. Nuestros productos superan significativamente al sistema financiero nacional. En la asesoria te mostramos proyecciones reales para tu caso.\"\n\n\"Es seguro?\"\n→ \"La seguridad del capital es nuestra prioridad. Todas las instituciones y productos cuentan con proteccion y garantias para el inversionista.\"\n\n\"Cuanto cuesta el servicio?\"\n→ \"El servicio de asesoria tiene un valor de 200 mil colones e incluye 3 sesiones personalizadas, material educativo, herramienta de IA y acompanamiento completo. Es una inversion que se recupera con creces.\"\n\n## REGLAS CRITICAS\n\n1. Maximo 3-4 lineas por mensaje\n2. UNA pregunta por mensaje\n3. NUNCA garantizar rendimientos especificos\n4. NUNCA dar asesoria financiera concreta — solo educar y derivar a Kenneth\n5. NUNCA mencionar fees/comisiones sobre productos de inversion\n6. Si no sabes algo: \"Excelente pregunta. Eso es algo que Kenneth te puede explicar con detalle en la asesoria.\"\n7. NUNCA ser pushy — si el lead no esta listo, ofrecer contenido educativo\n8. Recordar contexto — NO repetir preguntas\n9. Si el usuario pide hablar con humano → dejar de responder\n10. Calendly link: SIEMPRE completo en el MISMO mensaje, nunca \"te lo paso\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        6576,
        912
      ],
      "id": "a1b2c3d4-0024-4000-8000-000000000036",
      "name": "AI Agent - Principal"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Unificación de Variables').item.json.Telefono }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        6640,
        1760
      ],
      "id": "a1b2c3d4-0025-4000-8000-000000000037",
      "name": "Postgres Chat Memory - Objeciones",
      "credentials": {
        "postgres": {
          "id": "PLACEHOLDER",
          "name": "Level - Postgres"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Mensaje del usuario\n{{ $('Unificación de Variables').item.json['Mensaje actual del usuario'] }}",
        "options": {
          "systemMessage": "=# AGENTE OBJECIONES — LEO (Level)\n\n## IDENTIDAD\nSeguis siendo LEO, asesor financiero de Level. Mismo tono, misma calidez. El usuario no nota ningun cambio.\n\n## OBJETIVO\nManejar la objecion actual usando el framework LAARC. Una sola objecion, una sola vez. Si el usuario objeta de nuevo despues → el clasificador lo derivara a Kenneth directamente.\n\n## FRAMEWORK LAARC\nL — Listen: no defender, mostrar que escuchaste\nA — Acknowledge: validar que la preocupacion tiene sentido\nA — Assess: preguntar la causa raiz\nR — Respond: estrategia segun tipo\nC — Confirm: verificar que quedo resuelto\n\nTodo en UN solo mensaje fluido, max 4 lineas. No como pasos separados.\n\n## OBJECIONES\n\n### \"No estoy seguro / quiero pensarlo\"\nAcknowledge: \"Entiendo, es una decision importante y no hay prisa.\"\nAssess: \"Contame, que es lo que mas te genera duda?\"\nRespond: Muchas veces la duda viene de no tener suficiente informacion. Por eso la asesoria es gratuita — es para explorar sin compromiso. El costo real es dejar tu dinero quieto perdiendo valor cada ano.\nConfirm: \"Te haria sentido una llamada corta solo para aclarar dudas?\"\n\n### \"Me da miedo perder el dinero\"\nAcknowledge: \"Es totalmente valido. De hecho, es la preocupacion numero uno de nuestros clientes cuando llegan.\"\nAssess: \"Que es lo que mas te preocupa — perder todo o que no rinda lo suficiente?\"\nRespond: La seguridad del capital es nuestra prioridad. Todos los productos que asesoramos cuentan con proteccion y garantias. No trabajamos con nada donde puedas perder tu capital base.\nConfirm: \"Eso te genera un poco mas de tranquilidad?\"\n\n### \"Es muy caro\" (el servicio de asesoria)\nAcknowledge: \"Entiendo, siempre es importante que la inversion tenga sentido.\"\nAssess: \"Comparado con que te parece alto?\"\nRespond: Son 200 mil colones por 3 sesiones personalizadas + herramienta de IA + acompanamiento. Si con eso logramos que tu capital genere aunque sea un 5% mas al ano, la asesoria se paga sola el primer mes. El costo real es NO asesorarse.\nConfirm: \"Viendolo asi, tiene mas sentido?\"\n\n### Otra objecion\nAcknowledge: \"Entiendo tu preocupacion.\"\nAssess: \"Contame mas, que es lo que mas te genera esa duda?\"\nRespond: Conectar el dolor real del lead con el valor de Level. Usar datos: 260+ inversionistas activos, productos con garantia, enfoque educativo.\nConfirm: \"Eso aborda lo que te preocupaba?\"\n\n## REGLAS\n1. NUNCA ofrecer descuento\n2. NUNCA defender agresivamente\n3. SIEMPRE terminar con pregunta de confirmacion\n4. Max 4 lineas total\n5. Si confirma que quedo claro → volver al flujo normal\n6. Si NO queda claro → no insistir"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        6576,
        1552
      ],
      "id": "a1b2c3d4-0026-4000-8000-000000000038",
      "name": "AI Agent - Objeciones"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "maxTokens": 400,
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        6512,
        1760
      ],
      "id": "a1b2c3d4-0027-4000-8000-000000000039",
      "name": "OpenAI Chat Model - Objeciones",
      "credentials": {
        "openAiApi": {
          "id": "PLACEHOLDER",
          "name": "Level - OpenAI"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Respuesta a formatear: {{ $json.output }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=# PROMPT: FORMATEADOR DE MENSAJES PARA WHATSAPP\n\n## ROL\nFormateador de mensajes para WhatsApp. Tu ÚNICA función es dividir mensajes largos en bloques de máximo 3 líneas Y separar listas que vengan pegadas.\n\n## CONTEXTO\nLos mensajes de WhatsApp deben ser cortos y escaneables. Mensajes muy largos son difíciles de leer en mobile y generan abandono.\n\n## INPUT\nRecibes un mensaje de texto que puede tener múltiples líneas y párrafos, incluyendo listas con bullets.\n\n## OUTPUT OBLIGATORIO\nJSON válido con mensajes divididos:\n\n```json\n{\n  \"MENSAJE 1\": \"Texto del primer mensaje (máximo 3 líneas)\",\n  \"MENSAJE 2\": \"Texto del segundo mensaje (máximo 3 líneas)\",\n  \"MENSAJE 3\": \"Texto del tercer mensaje (máximo 3 líneas)\"\n}\n```\n\n## REGLAS DE DIVISIÓN\n\n### 1. MÁXIMO 3 LÍNEAS POR MENSAJE\nCada mensaje puede tener máximo 3 líneas de texto (separadas por `\\n`).\n\n### 2. RESPETAR PÁRRAFOS EXISTENTES\nSi el mensaje original tiene párrafos separados por `\\n\\n` (doble salto), cada párrafo debe ir en un mensaje separado.\n\n### 3. AGRUPAR LÍNEAS RELACIONADAS\nSi un párrafo tiene más de 3 líneas, divídelo en mensajes de máximo 3 líneas, pero mantén ideas relacionadas juntas.\n\n### 4. MANTENER CONTEXTO\nNo dividir en medio de una idea. Cada mensaje debe tener sentido por sí solo.\n\n### 5. PREGUNTAS SIEMPRE EN MENSAJE SEPARADO\nSi el mensaje termina con una pregunta, la pregunta debe ir en su propio mensaje.\n\n## CASOS ESPECIALES\n\n### Mensaje ya es corto (≤3 líneas)\nSi el mensaje ya tiene 3 líneas o menos, NO dividir:\n\n```json\n{\n  \"MENSAJE 1\": \"Texto completo del mensaje original\"\n}\n```\n\n## FORMATO DE SALIDA\n\nTu respuesta COMPLETA debe ser ÚNICAMENTE el JSON:\n\n```json\n{\n  \"MENSAJE 1\": \"texto aquí\",\n  \"MENSAJE 2\": \"texto aquí\"\n}\n```\n\n- NO agregues explicaciones\n- NO uses markdown adicional\n- NO incluyas texto fuera del JSON\n- SOLO el JSON válido\n\n## PROHIBICIONES\n\n❌ NO dividir palabras o frases en medio\n❌ NO crear mensajes de una sola palabra\n❌ NO separar números de su contexto\n❌ NO modificar el contenido del mensaje (solo dividir)\n\n## PRIORIDADES EN ORDEN\n\n1. **Mantener sentido** (cada mensaje se entiende)\n2. **Máximo 3 líneas** por mensaje\n3. **Preguntas separadas** al final\n4. **Respetar párrafos** existentes\n5. **Agrupar ideas** relacionadas"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        7168,
        1328
      ],
      "id": "a1b2c3d4-0028-4000-8000-000000000040",
      "name": "Basic LLM Chain4",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        7136,
        1552
      ],
      "id": "a1b2c3d4-0029-4000-8000-000000000041",
      "name": "OpenAI Chat Model13",
      "notesInFlow": false,
      "credentials": {
        "openAiApi": {
          "id": "PLACEHOLDER",
          "name": "Level - OpenAI"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        7856,
        1328
      ],
      "id": "a1b2c3d4-002a-4000-8000-000000000042",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        7632,
        1328
      ],
      "id": "a1b2c3d4-002b-4000-8000-000000000043",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e97607d2-b7b9-48cb-b059-fc5030dcaf56",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        8080,
        1248
      ],
      "id": "a1b2c3d4-002c-4000-8000-000000000044",
      "name": "If5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        8752,
        1328
      ],
      "id": "a1b2c3d4-002d-4000-8000-000000000045",
      "name": "Wait2",
      "webhookId": "c1d2e3f4-0001-4000-8000-000000000001"
    },
    {
      "parameters": {
        "options": {
          "prompt": "=Instructions:\n--------------\n{instructions}\n--------------\nCompletion:\n--------------\n{completion}\n--------------\n\nAbove, the Completion did not satisfy the constraints given in the Instructions.\nError:\n--------------\n{error}\n--------------\n\nPlease try again. Please only respond with an answer that satisfies the constraints laid out in the Instructions:"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        7264,
        1552
      ],
      "id": "a1b2c3d4-002e-4000-8000-000000000046",
      "name": "Auto-fixing Output Parser3"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"output\": \n{\n\"MENSAJE 1\": \n\"Entiendo.\",\n  \"MENSAJE 2\": \n\"Entiendo.\"\n}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        7408,
        1760
      ],
      "id": "a1b2c3d4-002f-4000-8000-000000000047",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        7280,
        1760
      ],
      "id": "a1b2c3d4-0030-4000-8000-000000000048",
      "name": "OpenAI Chat Model14",
      "credentials": {
        "openAiApi": {
          "id": "PLACEHOLDER",
          "name": "Level - OpenAI"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/setCustomField",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{ $('Unificación de Variables').item.json.Telefono }}"
            },
            {
              "name": "field_id",
              "value": "PLACEHOLDER_FIELD_ID"
            },
            {
              "name": "field_value",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8304,
        1184
      ],
      "id": "a1b2c3d4-0031-4000-8000-000000000049",
      "name": "Set Respuesta Chatbot 2",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "PLACEHOLDER",
          "name": "Level - ManyChat"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendFlow",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{ $('Unificación de Variables').item.json.Telefono }}"
            },
            {
              "name": "flow_ns",
              "value": "=PLACEHOLDER_FLOW_NS"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8528,
        1184
      ],
      "id": "a1b2c3d4-0032-4000-8000-000000000050",
      "name": "Send Respuest Chatbot",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "PLACEHOLDER",
          "name": "Level - ManyChat"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Unificación de Variables').item.json.Telefono }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        7280,
        928
      ],
      "id": "a1b2c3d4-0033-4000-8000-000000000051",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "PLACEHOLDER",
          "name": "Level - Redis"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "maxTokens": 400,
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        6512,
        1136
      ],
      "id": "a1b2c3d4-0034-4000-8000-000000000052",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "PLACEHOLDER",
          "name": "Level - OpenAI"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "PLACEHOLDER_BASE_ID",
          "mode": "list",
          "cachedResultName": "Level CRM"
        },
        "table": {
          "__rl": true,
          "value": "PLACEHOLDER_TABLE_ID",
          "mode": "list",
          "cachedResultName": "Leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Último contacto": "={{ $now }}",
            "Chatbot Activado": "Encendido",
            "Nombre": "={{ $('Webhook').item.json.body.name }}",
            "ID Manychat": "={{ $('ID y Mensaje').item.json.ID }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID Manychat",
              "displayName": "ID Manychat",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Chatbot Activado",
              "displayName": "Chatbot Activado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Encendido",
                  "value": "Encendido"
                },
                {
                  "name": "Apagado",
                  "value": "Apagado"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Último contacto",
              "displayName": "Último contacto",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3472,
        1552
      ],
      "id": "a1b2c3d4-0035-4000-8000-000000000053",
      "name": "Crear Lead",
      "credentials": {
        "airtableTokenApi": {
          "id": "PLACEHOLDER",
          "name": "Level - Airtable"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d1e2f3a4-level-leo-webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        1328
      ],
      "id": "a1b2c3d4-0036-4000-8000-000000000054",
      "name": "Webhook",
      "webhookId": "d1e2f3a4-level-leo-webhook"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "PLACEHOLDER_BASE_ID",
          "mode": "list",
          "cachedResultName": "Level CRM"
        },
        "table": {
          "__rl": true,
          "value": "PLACEHOLDER_TABLE_ID",
          "mode": "list",
          "cachedResultName": "Leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID Manychat": "={{ $('Unificación de Variables').item.json.Telefono }}",
            "Chatbot Activado": "Apagado"
          },
          "matchingColumns": [
            "ID Manychat"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Chatbot Activado",
              "displayName": "Chatbot Activado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Encendido",
                  "value": "Encendido"
                },
                {
                  "name": "Apagado",
                  "value": "Apagado"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Último contacto",
              "displayName": "Último contacto",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ID Manychat",
              "displayName": "ID Manychat",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        6720,
        1520
      ],
      "id": "a1b2c3d4-0037-4000-8000-000000000055",
      "name": "Update record - Apagar Handoff",
      "credentials": {
        "airtableTokenApi": {
          "id": "PLACEHOLDER",
          "name": "Level - Airtable"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2448,
        1424
      ],
      "id": "a1b2c3d4-0038-4000-8000-000000000056",
      "name": "Limit"
    },
    {
      "parameters": {
        "text": "=Respuesta del agente: {{ $json.output }}",
        "schemaType": "manual",
        "inputSchema": "{\n  \"es_descalificacion\": false,\n  \"confianza\": 0.0,\n  \"razon_principal\": \"\",\n  \"tipo_descalificacion\": null\n}",
        "options": {
          "systemPromptTemplate": "=# EVALUADOR DE DESCALIFICACION — LEVEL\n\n## ROL\nEvaluar cada respuesta de LEO para determinar si representa una descalificacion del lead.\n\n## ES DESCALIFICACION\n- Redirige a comunidad Skool por capital insuficiente\n- Indica que Level no puede ayudar (busca prestamos, creditos)\n- Cierra la conversacion sugiriendo buscar otras opciones\n- Despedida clara con \"mucho exito\" o similar\n\n## NO ES DESCALIFICACION\n- Pide mas info para calificar\n- Educa sobre inversiones\n- Ofrece Calendly o llamada\n- Maneja objeciones\n- Envia contenido de valor\n\n## TIPOS\nsin_capital | busca_prestamos | sin_interes | otro | null\n\n## OUTPUT: JSON puro, sin markdown."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        7168,
        700
      ],
      "id": "a1b2c3d4-0039-4000-8000-000000000057",
      "name": "Descalificado?"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "responsesApiEnabled": false,
        "options": {
          "maxTokens": 400,
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        7248,
        920
      ],
      "id": "a1b2c3d4-003a-4000-8000-000000000058",
      "name": "OpenAI Chat Model - Descalificacion",
      "credentials": {
        "openAiApi": {
          "id": "PLACEHOLDER",
          "name": "Level - OpenAI"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "d1e2f3a4-0001-4000-8000-000000000001",
              "leftValue": "={{ $json.output.es_descalificacion }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        7520,
        700
      ],
      "id": "a1b2c3d4-003b-4000-8000-000000000059",
      "name": "Es Descalificacion?"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "PLACEHOLDER_BASE_ID",
          "mode": "list",
          "cachedResultName": "Level CRM"
        },
        "table": {
          "__rl": true,
          "value": "PLACEHOLDER_TABLE_ID",
          "mode": "list",
          "cachedResultName": "Leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID Manychat": "={{ $('Unificación de Variables').item.json.Telefono }}",
            "Chatbot Activado": "Apagado"
          },
          "matchingColumns": [
            "ID Manychat"
          ],
          "schema": [
            {
              "id": "ID Manychat",
              "displayName": "ID Manychat",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Chatbot Activado",
              "displayName": "Chatbot Activado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Encendido",
                  "value": "Encendido"
                },
                {
                  "name": "Apagado",
                  "value": "Apagado"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        7808,
        640
      ],
      "id": "a1b2c3d4-003c-4000-8000-000000000060",
      "name": "Update record - Apagar Descalificacion",
      "credentials": {
        "airtableTokenApi": {
          "id": "PLACEHOLDER",
          "name": "Level - Airtable"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e1f2a3b4-0001-4000-8000-000000000001",
              "leftValue": "={{ $json.output }}",
              "rightValue": "calendly.com",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        7168,
        480
      ],
      "id": "a1b2c3d4-003d-4000-8000-000000000061",
      "name": "Calendly Enviado?"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "PLACEHOLDER_BASE_ID",
          "mode": "list",
          "cachedResultName": "Level CRM"
        },
        "table": {
          "__rl": true,
          "value": "PLACEHOLDER_TABLE_ID",
          "mode": "list",
          "cachedResultName": "Leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID Manychat": "={{ $('Unificación de Variables').item.json.Telefono }}",
            "Chatbot Activado": "Apagado"
          },
          "matchingColumns": [
            "ID Manychat"
          ],
          "schema": [
            {
              "id": "ID Manychat",
              "displayName": "ID Manychat",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Chatbot Activado",
              "displayName": "Chatbot Activado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Encendido",
                  "value": "Encendido"
                },
                {
                  "name": "Apagado",
                  "value": "Apagado"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        7520,
        420
      ],
      "id": "a1b2c3d4-003e-4000-8000-000000000062",
      "name": "Update record - Apagar Calendly",
      "credentials": {
        "airtableTokenApi": {
          "id": "PLACEHOLDER",
          "name": "Level - Airtable"
        }
      }
    },
    {
      "parameters": {
        "text": "=Mensaje del usuario: {{ $('ID y Mensaje').item.json.Mensaje }}",
        "schemaType": "manual",
        "inputSchema": "{\n  \"tipo_mensaje\": \"consulta_valida\",\n  \"debe_continuar_bot\": true,\n  \"razon\": \"explicacion breve\",\n  \"accion_recomendada\": \"continuar_workflow\"\n}",
        "options": {
          "systemPromptTemplate": "# CLASIFICADOR INICIAL — LEVEL\n\n## ROL\nEres el primer filtro de mensajes para Level. Tu funcion es:\n1. Analizar el primer mensaje de un contacto nuevo\n2. Determinar si es una consulta valida sobre inversiones o asesoria financiera\n3. Detectar spam, ofertas de servicios, o mensajes de conversaciones viejas\n4. Decidir si el chatbot debe continuar o ignorar\n\nNO eres conversacional. Solo produces JSON.\n\n## CLASIFICACION\n\n### consulta_valida (debe_continuar_bot: true)\n- Saludos: \"Hola\", \"Buenos dias\", \"Buenas\", \"Info\"\n- Preguntas sobre inversiones, finanzas, asesoria\n- Interes en Level, en Kenneth, en el servicio\n- Preguntas sobre rentabilidad, donde invertir, como empezar\n- Mencion de capital para invertir\n- Cualquier mensaje que indique interes en servicios financieros\n\n### oferta_spam (debe_continuar_bot: false)\n- Ofrece servicios (marketing, diseno, desarrollo, etc.)\n- Solicita colaboracion o partnership\n- Ofrece productos no solicitados\n- Mensajes promocionales no relacionados a inversiones\n\n### cliente_existente (debe_continuar_bot: false)\n- Menciona que ya es cliente de Level\n- Pregunta por su inversion actual, su portafolio, sus rendimientos\n- Menciona sesiones previas con Kenneth\n- Pregunta operativa de cliente activo\n\n### no_relacionado (debe_continuar_bot: false)\n- Mensaje de conversacion vieja no relacionada a Level\n- Respuesta a algo que no tiene que ver con inversiones\n- Mensajes sin contexto que parecen continuacion de otro tema\n- Spam generico\n\n## PRIORIDAD\n1. Ofrece servicio → oferta_spam\n2. Ya es cliente / menciona sesion previa → cliente_existente\n3. Pregunta sobre inversiones/finanzas → consulta_valida\n4. Saludo sin contexto → consulta_valida (DEFAULT)\n5. No relacionado → no_relacionado\n\n## REGLAS\n- JSON puro, sin markdown, sin backticks\n- Saludos simples → SIEMPRE consulta_valida\n- Ante duda → consulta_valida (es mejor atender de mas que ignorar)"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        2896,
        1552
      ],
      "id": "f7a3b1c2-4d5e-4f6a-8b9c-0d1e2f3a4b5c",
      "name": "Filtro Inicial"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "responsesApiEnabled": false,
        "options": {
          "maxTokens": 300,
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2976,
        1776
      ],
      "id": "e8b4c2d3-5e6f-4a7b-9c0d-1e2f3a4b5c6d",
      "name": "OpenAI Chat Model - Filtro",
      "credentials": {
        "openAiApi": {
          "id": "PLACEHOLDER",
          "name": "Level - OpenAI"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a1b2c3d4-ffff-4000-8000-111111111111",
              "leftValue": "={{ $json.output.debe_continuar_bot }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3150,
        1552
      ],
      "id": "d9c5d3e4-6f7a-4b8c-0d1e-2f3a4b5c6d7e",
      "name": "Nuevo Mensaje?"
    }
  ],
  "pinData": {},
  "connections": {
    "Vacía el Array5": {
      "main": [
        [
          {
            "node": "Delete table or rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete table or rows1": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REINICIAR": {
      "main": [
        [
          {
            "node": "Vacía el Array5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IN OFF?1": {
      "main": [
        [],
        [
          {
            "node": "Update Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Lead": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Lead": {
      "main": [
        [
          {
            "node": "Es audio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Timestamp": {
      "main": [
        [
          {
            "node": "GET Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existe?": {
      "main": [
        [
          {
            "node": "IN OFF?1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filtro Inicial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es audio?": {
      "main": [
        [],
        [
          {
            "node": "Guardar mensajes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es el último mensaje?": {
      "main": [
        [
          {
            "node": "Juntar mensajes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revisar todos los mensajes": {
      "main": [
        [
          {
            "node": "Es el último mensaje?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperando nuevo mensaje": {
      "main": [
        [
          {
            "node": "Revisar todos los mensajes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar mensajes": {
      "main": [
        [
          {
            "node": "Esperando nuevo mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Juntar mensajes": {
      "main": [
        [
          {
            "node": "Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Unificación de Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unificación de Variables": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversation": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID y Mensaje": {
      "main": [
        [
          {
            "node": "REINICIAR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a record": {
      "main": [
        [
          {
            "node": "Set Campo Resupuesta Reinicio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Delete a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Transcribir audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evo API Optener audio": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribir audio": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "ID y Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "ID y Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es Audio?": {
      "main": [
        [
          {
            "node": "Evo API Optener audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records1": {
      "main": [
        [
          {
            "node": "Chatbot Encendido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatbot Encendido?": {
      "main": [
        [
          {
            "node": "Es Audio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Campo Resupuesta Reinicio": {
      "main": [
        [
          {
            "node": "Send Respuesta Reinicio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "AI Agent - Principal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent - Objeciones",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update record - Apagar Handoff",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent - Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Principal",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory - Objeciones": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Objeciones",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Principal": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          },
          {
            "node": "Basic LLM Chain4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Descalificado?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Calendly Enviado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Objeciones": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          },
          {
            "node": "Basic LLM Chain4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Descalificado?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Calendly Enviado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain4": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model13": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Set Respuesta Chatbot 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain4",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser3",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model14": {
      "ai_languageModel": [
        [
          {
            "node": "Auto-fixing Output Parser3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set Respuesta Chatbot 2": {
      "main": [
        [
          {
            "node": "Send Respuest Chatbot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Respuest Chatbot": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Principal",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model - Objeciones": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Objeciones",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Crear Lead": {
      "main": [
        [
          {
            "node": "GET Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Search records1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descalificado?": {
      "main": [
        [
          {
            "node": "Es Descalificacion?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model - Descalificacion": {
      "ai_languageModel": [
        [
          {
            "node": "Descalificado?",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Es Descalificacion?": {
      "main": [
        [
          {
            "node": "Update record - Apagar Descalificacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calendly Enviado?": {
      "main": [
        [
          {
            "node": "Update record - Apagar Calendly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro Inicial": {
      "main": [
        [
          {
            "node": "Nuevo Mensaje?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nuevo Mensaje?": {
      "main": [
        [
          {
            "node": "Crear Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model - Filtro": {
      "ai_languageModel": [
        [
          {
            "node": "Filtro Inicial",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a1b2c3d4-level-leo-v1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "PLACEHOLDER_INSTANCE_ID"
  },
  "id": "PLACEHOLDER_WORKFLOW_ID",
  "tags": []
}